<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!-- <a class="central-logo" href="/"><img class="central-BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a>-->  
    <h1>Registro de Producto</h1>
    <section class="container">
        <form action="/productos/<%= length + 1 %>" class="product-register productValidation" method="POST" enctype="multipart/form-data">
            <div class="division">
                <div class="info">
                    <label for="artists">Selecciona Artista:</label>
                    <select name="artists" id="type-album">
                        <% if(locals && locals.artists) { %>
                            <% artists.forEach( artist => { %>
                        <option value="<%= artist.artist_id %>" <%= locals && locals.writtenValues && ( writtenValues.artists == artist.artist_id ) ? 'selected' : '' %> ><%= artist.fullName %></option>
                            <%  }) %>
                        <% } %>
                    </select>
                    <div class="error-artist"></div>
                    <!-- <input type="text" name="artist" id="name" value="<%= locals && locals.writtenValues ? writtenValues.artist : '' %>" placeholder="Escribelos separados por comas, si no estan..." required> -->
                </div>
                <div class="info">
                    <label for="album">Nombre del Album: </label>
                    <input type="text" name="album" id="album" value="<%= locals && locals.writtenValues ? writtenValues.album : '' %>" required>
                    <div class="error-album"></div>
                </div>
            </div>
            <div class="division">
                <div class="info" id="vinyl-type">
                    <label for="type" id="type-selector">Tipo : </label>
                    <select name="type" id="type-album">
                        <% if(locals && locals.types) { %>
                            <% types.forEach( type => { %>
                        <option value="<%= type.type_id %>" <%= locals && locals.writtenValues && ( writtenValues.type == type.type_id ) ? 'selected' : '' %> >RPM : <%= type.RPM %> Diameter : <%= type.diameter %></option>
                            <%  }) %>
                        <% } %>
                    </select>
                </div>
                <div class="info">
                    <label for="year">A침o de lanzamiento: </label>
                    <input type="number" name="year" id="year" value="<%= locals && locals.writtenValues ? writtenValues.year : '' %>" required>
                    <div class="error-year"></div>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="price">Precio: $</label>
                    <input type="number" step="0.01" name="price" id="price" value="<%= locals && locals.writtenValues ? writtenValues.price : '' %>" required>
                    <div class="error-price"></div>
                </div>
                <div class="info">
                    <label for="description">Descripci칩n: </label>
                    <!-- <input type="text" name="description" id="description"> -->
                    <textarea name="description" id="description" cols="40" rows="5" required><%= locals && locals.writtenValues ? writtenValues.description : '' %></textarea>
                    <div class="error-description"></div>
                </div>
            </div>
            <div class="division" id="three">
                <div class="info three">
                    <label for="image">Imagen: </label>
                    <input type="file" name="image" id="image">
                    <div class="error-image"></div>
                </div>
                <div class="info three">
                    <label for="color" id="color-selector">Color predominante del album :</label>
                    <select name="color" id="color-album" required>
                        <% if(locals && locals.availableColors) { %>
                            <% availableColors.forEach( colour => { %>
                        <option value="<%= colour.color_id %>" <%= locals && locals.writtenValues && ( writtenValues.color == colour.color_id ) ? 'selected' : '' %> ><%= colour.name %></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
                <div class="info three">
                    <label for="recordLabel" id="record-selector">Sello discogr치fico del album :</label>
                    <select name="recordLabel" id="record-album" required>
                        <% if(locals && locals.recordLabels) { %>
                            <% recordLabels.forEach( recordLabel => { %>
                        <option value="<%= recordLabel.recordLabel_id %>" <%= locals && locals.writtenValues && ( writtenValues.recordLabel == recordLabel.recordLabel_id ) ? 'selected' : '' %> ><%= recordLabel.name %></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="division" id="all-songs">
            <div class="info">
                <label>Canciones :</label>
                <div class="songs">
                    <label for="songs">Selecciona el titulo :</label>
                    <select name="songs" id="songs-album">
                        <% if(locals && locals.songs) { %>
                            <% songs.forEach( song => { %>
                        <option value="<%= song.song_id %>" <%= locals && locals.writtenValues && ( writtenValues.songs == song.song_id ) ? 'selected' : '' %>><%= song.name %> de <%= song.artistsSongs[0].fullName %></option>
                            <%  }) %>
                        <% } %>
                    </select>
                    <!-- <input type="text" name="song" id="songs" value="<%= locals && locals.writtenValues ? writtenValues.song : '' %>" placeholder="Escribelos separados por comas, si no estan..." required>
                     <label for="lenght">Duracion de la canci칩n:</label>
                    <input type="text" name="lenght" id="lenght" value="<%= locals && locals.writtenValues ? writtenValues.lenght : '00:00' %>" required> -->

                </div>
            </div>
            <div class="info" id="info-pieces">
                <label for="pieces">Piezas: </label>
                <input type="number" step="0.01" name="pieces" id="pieces" value="<%= locals && locals.writtenValues ? writtenValues.pieces : '' %>" required>
            </div>
            <div id="in-case-of-errors">
                <% if(locals && locals.errors) { %>
                    <% errors.forEach( error => { %>
                    <p id="error">*<%= error.msg %></p><br>
                    <% }) %> 
                <% } %>
            </div>
            </div>
            <button type="submit" id="submit-product">Registrar</button>
        </form>
    </section>
    <%- include('../partials/footer') %>
    <script src="../../../js/validations/productValidation.js"></script>
</body>
</html>