<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!-- <a class="central-logo" href="/"><img class="central-BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a>-->  
    <h1>Registro de Producto</h1>
    <section class="container">
        <form action="/productos/<%= length + 1 %>" class="product-register" method="POST" enctype="multipart/form-data">
            <div class="division">
                <div class="info">
                    <label for="name">Nombre del Artista: </label>
                    <input type="text" name="artist" id="name" value="<%= locals && locals.writtenValues ? writtenValues.artist : '' %>" required>
                </div>
                <div class="info">
                    <label for="album">Nombre del Album: </label>
                    <input type="text" name="album" id="album" value="<%= locals && locals.writtenValues ? writtenValues.album : '' %>" required>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="genre">Genero: </label>
                    <input type="text" name="genre" id="genre" value="<%= locals && locals.writtenValues ? writtenValues.genre : '' %>" required>
                </div>
                <div class="info">
                    <label for="year">Año de lanzamiento: </label>
                    <input type="number" name="year" id="year" value="<%= locals && locals.writtenValues ? writtenValues.year : '' %>" required>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="price">Precio: $</label>
                    <input type="number" step="0.01" name="price" id="price" value="<%= locals && locals.writtenValues ? writtenValues.price : '' %>" required>
                </div>
                <div class="info">
                    <label for="description">Descripción: </label>
                    <!-- <input type="text" name="description" id="description"> -->
                    <textarea name="description" id="description" cols="40" rows="5" required><%= locals && locals.writtenValues ? writtenValues.description : '' %></textarea>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="image">Imagen: </label>
                    <input type="file" name="image" id="image" required>
                </div>
                <div class="info">
                    <label for="color" id="color-selector">Color predominante del album :</label>
                    <select name="color" id="color-album" required>
                        <% if(locals && locals.availableColors) { %>
                            <% availableColors.forEach( colour => { %>
                        <option value="<%= colour.color %>" <%= locals && locals.writtenValues && ( writtenValues.color == colour.color ) ? 'selected' : '' %>><%= colour.name %></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="division" id="all-songs">
            <div class="info">
                <label>Canciones :</label>
                <div class="songs">
                    <label for="songs">Titulo :</label>
                    <input type="text" name="song" id="songs" value="<%= locals && locals.writtenValues ? writtenValues.song : '' %>" required>
                    <label for="lenght">Duracion :</label>
                    <input type="text" name="lenght" id="lenght" value="<%= locals && locals.writtenValues ? writtenValues.lenght : '00:00' %>" required>
                </div>
            </div>
            <div id="in-case-of-errors">
                <% if(locals && locals.errors) { %>
                    <% errors.forEach( error => { %>
                    <p id="error">*<%= error.msg %></p><br>
                    <% }) %> 
                <% } %>
            </div>
            </div>
            <button type="submit" id="submit-product">Registrar</button>
        </form>
    </section>
    <%- include('../partials/footer') %>
</body>