<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!-- <a class="central-logo" href="/"><img class="central-BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a>--> <!--<i class="fas fa-compact-disc"></i>-->  
    <h1>Modificar producto</h1>
    <section class="container">
        <form action="/productos/<%= product.id %>?_method=PUT" class="product-edit" method="POST" enctype="multipart/form-data">
            <div class="division">
                <div class="info">
                    <label for="name">Nombre del Artista: </label>
                    <input type="text" name="artist" id="name" value="<%= locals && locals.writtenValues ? writtenValues.artist : locals && locals.product ? product.artist : '' %>" required>
                </div>
                <div class="info">
                    <label for="album">Nombre del Album: </label>
                    <input type="text" name="album" id="album" value="<%= locals && locals.writtenValues ? writtenValues.album : locals && locals.product ? product.name : '' %>" required>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="genre">Genero: </label>
                    <input type="text" name="genre" id="genre" value="<%= locals && locals.writtenValues ? writtenValues.genre : locals && locals.product ? product.genre : '' %>" required>
                </div>
                <div class="info">
                    <label for="year">A침o de lanzamiento: </label>
                    <input type="number" name="year" id="year"  value="<%= locals && locals.writtenValues ? writtenValues.year : locals && locals.product ? product.year : '' %>" required>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="price">Precio: </label>
                    <input type="number" name="price" step="0.01" id="price" value="<%= locals && locals.writtenValues ? writtenValues.price : locals && locals.product ? product.price : '' %>" required>
                </div>
                <div class="info">
                    <label for="description">Descripci칩n: </label>
                    <!-- <input type="text" name="description" id="description"> -->
                    <textarea name="description" id="description" cols="40" rows="5" required><%= locals && locals.writtenValues ? writtenValues.description : locals && locals.product ? product.description : '' %></textarea>
                </div>
            </div>
            <div class="division">
                <div class="info">
                    <label for="image">Imagen Actual: </label>
                    <img id="<%= product.IDImage %>" src="/images/registeredProducts/<%= product.image %>" width="40%">
                    <input type="file" name="image" id="image" required>
                </div>
                <div class="info">
                    <label for="color" id="color-selector">Color predominante del album : </label>
                    <select name="color" id="color-album">
                    <% if(locals && locals.availableColors) { %>
                        <% availableColors.forEach( colour => { %>
                    <option value="<%= colour.color %>" <%= locals && locals.writtenValues && ( writtenValues.color == colour.color ) ? 'selected' : locals && locals.product && ( product.IDContainer == colour.color ) ? 'selected' : '' %> ><%= colour.name %></option>
                        <% }) %>
                    <% } %>
                    </select>
                </div>
            </div>
            <div class="division" id="all-songs">
                <div class="info">
                    <label>Canciones:</label>
                    <% for(let i = 0; i < product.songs.length; i++) { %>
                    <div class="songs">
                        <br>
                        <label for="songs">Titulo de canci칩n <%= i + 1 %>: </label>
                        <input type="text" name="song<%= i + 1 %>" id="songs" value="<%= locals && locals.writtenValues ? writtenValues.song1 : product.songs[i].title %>">
                        <label for="lenght">Duraci칩n: </label>
                        <input type="text" name="lenght<%= i + 1 %>" id="lenght" value="<%= locals && locals.writtenValues ? writtenValues.lenght1 : locals && locals.product ? product.songs[i].lenght : '' %>">
                    </div>
                    <% } %>
                </div>
                <div id="in-case-of-errors">
                    <% if(locals && locals.errors) { %>
                        <% errors.forEach( error => { %>
                        <p id="error">*<%= error.msg %></p><br>
                        <% }) %> 
                    <% } %>
                </div>
            </div>
            <button type="submit" id="submit-product">Modificar</button>
        </form>
        <form action="/productos/<%= product.id %>?_method=DELETE" method="POST" class="product-delete">
            <button type="submit" id="delete-product">Eliminar</button>
        </form>
    </section>
    <%- include('../partials/footer') %>
</body>