<%- include('../partials/head') %>
<body>
    <a class="central-logo" href="/"><img class="central-BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a> <!--<i class="fas fa-compact-disc"></i>-->  
    <h1>Modificar producto</h1>
    <section class="container">
        <form action="" class="product-edit" method="POST">
            <!-- <div class="info">
                <label for="id">ID del producto: </label>
                <input type="number" name="id" id="id" required>
            </div>
            <button id="search">Buscar</button> -->
            <div class="info">
                <label for="name">Nombre: </label>
                <input type="text" name="name" id="name" required value="  <%= products[id].title %>">
            </div>
            <div class="info">
                <label for="artist">Artista: </label>
                <input type="text" name="artist" id="artist" value=" <%= products[id].artist %>">
            </div>
            <div class="info">
                <label for="genero">Genero: </label>
                <input type="text" name="category" id="category" required value=" <%= products[id].genre%>">
            </div>
            <div class="info">
                <label for="description">Descripción: </label>
                <textarea name="description" id="description" cols="20" rows="5" required>
                    <%= products[id].description %>
                </textarea>
            </div>
            <div class="info">
                <label for="price">Precio: </label>
                <input type="number" name="price" id="price" value="<%=products[id].price %>">
            </div>
            <div class="info">
                <label for="image">Imagen: </label>
                <img id="<%= products[id].IDImage %>" src="/images/<%= products[id].image %>" alt="Imágen de Album" width="200px">
                <!-- <input type="file" name="image" id="image"> -->
            </div>
            <button type="submit" id="submit-product">Modificar</button>
        </form>
    </section>
    <%- include('../partials/footer') %>
</body>