<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="first-section">
        <div id="principal-title">Productos <i class="fas fa-compact-disc"></i></div>
    </section>
    <% if(locals && locals.deletion) { %>
        <section class="deletion-section">
            <div id="principal-title-deletion">Producto Eliminado con Éxito</div>
        </section>
    <% } %>
    <section class="album-section">
        <% for(let i = 0; i < products.length; i++) { %>
        <article class="album-home" id="<%= products[i].colors.value %>">
            <img id="standardImage" src="/images/registeredProducts/<%= products[i].image %>" alt="Imágen de Album">
            <h2><%= products[i].title %></h2>
            <p><%= products[i].description %></p>
            <a href="/productos/<%= products[i].vinyl_id %>"><%= products[i].distinctiveMessage %></a>
        </article>
        <% } %>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>