<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="first-section">
        <div id="principal-title">Productos <i class="fas fa-compact-disc"></i></div>
    </section>
    <section class="album-section">
        <% for(let i = 0; i < products.length; i++) { %>
        <article class="album-home" id="<%= products[i].IDContainer %>">
            <img id="<%= products[i].IDImage %>" src="/images/<%= products[i].image %>" alt="Imágen de Album">
            <h2><%= products[i].title %></h2>
            <p><%= products[i].description %></p>
            <a href="/productos/<%= products[i].id %>"><%= products[i].finalMessage %></a>
        </article>
        <% } %>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>