<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>  
    <div class="banner">
      <div class="banner-fondo">
        <div class="banner-fondo-img"></div>
      </div>
      <div class="container">
        <div class="banner-header">
          <h1 class="banner-albumName"><%= product.title %></h1>
          <label class="banner-artistName">
            <a href="#"><%= product.artist %></a>
          </label>
        </div>
        <div class="banner-preview">
          <img id="<%= product.IDImage %>" src="/images/<%= product.image %>" alt="Imágen de Album">
        </div>
        <div class="banner-aditional">
          <div class="banner-year"><p><date><%= product.year %></date></p></div>
        </div>
      </div>
    </div>
    <div class="agregar">
      <div class="precio">
        <p>Precio</p>
        <p><strong>$<%= product.price %></strong></p>
      </div>
      <div class="carrito">
        <button>Agregar al carrito</button>
      </div>
    </div>
    <div class="lista">
      <h2>Canciones</h2>
      <% for(let i = 0; i < product.songs.length; i++){ %>
      <div class="cancion">
        <p class="numero"> #<%= i + 1 %> </p>
        <p> <%= product.songs[i].title %> </p>
        <p class="duracion"> <%= product.songs[i].length %> </p>
      </div>
      <% } %>
      <!-- <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div> -->
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
