<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="first-section">
        <div class="title-paragraph-and-elements-until-992">
            <div class="title-paragraph-until-992">
                <h1 id="principal-title"><%= firstSection.title %></h1>
                <p class="paragraph-until-992"><%= firstSection.description %><p>
            </div>
            <article class="elements-until-992">
                <% for(let i = 0; i < firstSection.elements.length; i++) { %>
                <button class="Right-Scroll-until-992" id="element<%= firstSection.elements[i].id %>"><a href="<%= firstSection.elements[i].link %>"><%= firstSection.elements[i].elementName %></a></button>
                <% } %>
            </article>
        </div>
        <div class="paragraph-and-elements">
            <p class="paragraph"><%= firstSection.description %></p>
            <article class="elements-until-768">
                <% for(let i = 0; i < firstSection.elements.length; i++) { %>
                    <button class="Right-Scroll-until-768" id="element<%= firstSection.elements[i].id %>"><a href="<%= firstSection.elements[i].link %>"><%= firstSection.elements[i].elementName %></a></button>
                <% } %>
            </article>
        </div>
        <button class="add-cart"><a href="/carrito-de-compras">Añadir al Carrito</a></button>
        <article class="elements">
            <% for(let i = 0; i < firstSection.elements.length; i++) { %>
                <button class="Right-Scroll"><a href="<%= firstSection.elements[i].link %>"><%= firstSection.elements[i].elementName %></a></button>
            <% } %>
        </article>
    </section>

    <section class="album-section">
        <% for(let i = 0; i < products.length; i++) { %>
        <article class="album-home" id="<%= products[i].IDContainer %>">
            <img id="<%= products[i].IDImage %>" src="/images/<%= products[i].image %>" alt="Imágen de Album">
            <h2><%= products[i].title %></h2>
            <p><%= products[i].description %></p>
            <a href="/productos/<%= products[i].id %>"><%= products[i].finalMessage %></a>
        </article>
        <% } %>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>