<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>    
    <div class="cuerpo">
      <div class="encabezado">
        <img src="/icons/carrito-de-compras.svg" width="22px" height="22px" />
        <p>Carrito</p>
      </div>
      <% if(locals && locals.addedProducts) { %>
        <% addedProducts.forEach( addedProduct => { %>
        <div class="contenido">
          <div class="album info">
            <a href="/productos/<%= addedProduct.vinyl_id %>"><img class="img" src="/images/registeredProducts/<%= addedProduct.image %>" alt="Imagen del producto Añadido, <%= addedProduct.name + ' de ' + addedProduct.fullName %>"/></a>
          </div>
          <div class="info">
            <h2 class="datos"><%= addedProduct.name  %></h2>
            <p class="datos"><%= addedProduct.fullName %></p>
            <p id="album-no"><%= addedProduct.vinyl_id %></p>
            <p class="datos"><strong id="price" class="price<%= addedProduct.vinyl_id %>">$<%= addedProduct.price %></strong></p>
          </div>
          <div class="cantidad">
            <label for="cantidad-discos">Cantidad</label>
            <select name="cantidad-discos" id="cantidad-discos" class="disc-<%= addedProduct.vinyl_id %>">
              <% for(let i = 1; i <= addedProduct.vinylPieces; i++) { %>
                <option value="<%= i %>" <%= addedProduct.pieces == i ? 'selected' : '' %>><%= i %></option>
              <% } %>
            </select>
            <br/>
            <div>
              <form action="/carrito-de-compras/<%= addedProduct.vinyl_id %>?_method=DELETE" method="POST">
                <button id="delete-cart-product" type="submit"><i class="far fa-trash-alt eliminar"></i></button>
              </form>
            </div>
          </div>
        </div>
        <% }) %>
      <% } else { %>
        <h2 id="empty">Ningun producto ha sido añadido todavía.</h2>
      <% } %>
      <div class="prueba">

        <% if(locals && locals.addedProducts) { %>
        <div class="cupon">
          <h2>Cupón</h2>
          <br />
          <div class="codigo">
            <input type="text" placeholder="ingresa el cupón" />
            <button>Aplicar</button>
          </div>
        </div>
        <% } %>

        <div class="subtotal">
          <h2>Subtotal</h2>
          <br />
          <div class="precio">
            <% if(locals && locals.totalPrice) { %>
              <p><strong id="total-price">$<%= totalPrice %></strong></p>
              <form id="pagar" action="/carrito-de-compras/pagar" method="GET">




                <% if(locals && locals.addedProducts) { %>
                  <% addedProducts.forEach( (addedProduct, index) => { %>
                    <input name="disc-amount-<%= index %>" class="discs" type="text">
                    <input name="disc-<%= index %>" class="albums-numbers" type="text">
                  <% }) %>
                  <input name ="total-to-pay" class="total" type="text">
                <% } %>
                <button type="submit">Pagar</button>
              </form>
            <% } else { %>
              <p><strong>$0.00</strong></p>
              <form action="/productos" method="GET">
                <button type="submit">Comprar</button>
              </form>
            <% } %>
          </div>
        </div>

      </div>

    </div>
    <script src="../../../js/cartValidation.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>