<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="profile-section">
        <div id="first-container">
            <!-- <h2 id="acc">Cuenta</h2>
            <h2 id="acc"><a id="logout" href="#">Cerrar Sesión</a></h2> -->
        </div>
        <div id="greeting-and-image">
            <h2 id="greeting">Vinilos en camino:</h2>
        </div>
        <h1>Vinilos :</h1>
        <% if(locals && locals.vinyls) { %>
            <div id="container-vinyls">
                <% vinyls.forEach( (vinyl, index) => { %>      
                    <div id="vinyl-data">
                        <h3 class="field">Vinilo#<%= index + 1 %></h3><br><br>
                        <article>
                            <div><h3 class="field">Pedido :</h3>
                                <h3 class="info"><%= vinyl.pedido %></h3></div>

                            <div><h3 class="field">Número de vinil :</h3>
                                <h3 class="info"><%= vinyl.vinyl_id %></h3></div>

                            <div><h3 class="field">Tipo :</h3>
                                <h3 class="info"><%= vinyl.RPM %>   <%= vinyl.diameter %></h3></div>

                            <div><h3 class="field">Nombre del album :</h3>
                                <h3 class="info"><%= vinyl.name %></h3></div>

                            <div><h3 class="field">Artista(s) :</h3>
                                    <h3 class="info"><%= vinyl.artist %></h3></div>

                            <div><h3 class="field">Año :</h3>
                                <h3 class="info"><%= vinyl.year %></h3></div>

                            <div><h3 class="field">Precio por pieza :</h3>
                                    <h3 class="info">$<%= vinyl.price %></h3></div>
            
                            <!-- <div><h3 class="field">Piezas a compradas :</h3>
                                    <h3 class="info"><%= vinyl.piecesBought %></h3></div> -->
                        </article><br>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div id="container-vinyls">
                <h1>No se han realizado compras.</h1>
            </div>
        <% } %>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>